body {
    display: flex;
    font-family: Arial;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
}

.sorry-image {
    width: 500px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
}

.header {
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.hero-body {
    justify-content: space-between;
    display: flex;
}

.hero-main-text {
    display: flex;
    align-items: center;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.header-links {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    color: #f9faf8;
    font-size: 18px;
}

a {
    text-decoration: none;
}