body {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.hero,
footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.headerlogo {
    height: auto;
    width: 150px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.li {
    display: flex;
}

.hero-body,
.container {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 100px;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.hero-secondary-text, .header-links {
    color: #f9faf8;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 12px;
    padding: 12px 28px;
}

.heroimage {
    width: 300px;
    height: auto;
    margin-top: 80px;
}

.information {
    padding-bottom: 50px;
}

.information-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    justify-content: center;
    padding-top: 50px;
}

.grid {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-image {
    width: 300px;
    height: auto;
    border: 5px solid #3882f6;
    border-radius: 12px;
}

.grid-tile {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
}

.quote-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    font-size: 36px;
    padding-bottom: 50px;

}